name: build macos and win

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest]
        python-version: 
          - 3.5
          - 3.6
          - 3.7
          - 3.8
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e .

    - name: run test
      run: pytest

    - name: Build
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      run: python setup.py bdist_wheel

    - name: Build sdist
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/') && ${{ matrix.os }} == 'macOS-latest' && ${{ matrix.python-version }} == '3.7'
      run: python setup.py sdist

    - name: Publish test pypi
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      run: |
        twine upload dist/* --repository-url https://test.pypi.org/legacy/ -u ${{ secrets.TEST_PYPI_USER }} -p ${{ secrets.TEST_PYPI_PASS }}

    - name: Publish pypi
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      run: |
        twine upload dist/* -u ${{ secrets.PYPI_USER }} -p ${{ secrets.PYPI_PASS }}

